@import './public/variables.scss';

.Projects {
  width: $widthSize-720;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  /** Container **/

  &-projects{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 120px;
  }

  &-projectsLeft{

    width: 151px;
    height: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 120%;

      color: $blackColor;

      text-align: right;
  }

  &-projectsRight {
    width: 610px;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
  }

  &-freestyle{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 120px;
  }

  &-freestyleLeft{
    
    width: 151px;
    height: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 120%;

      color: $blackColor;

      text-align: right;
  }

  &-freestyleRight {
    width: 610px;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
  }

  /** Footer **/

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;

    >h4 {
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: flex-end;
      text-align: center;

      /* Black */

      color: $blackColor;
    }
  }
}