@import './public/variables.scss';

.Projects {
  width: 100%;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding: 0 $mobile_padding;

  padding-top: 40px;

  @include breakpoint(tablet) {
    padding: 0 $tablet_padding;
    padding-top: 40px;
    
  }

  @include breakpoint(laptop) {
    width: $widthSize-laptop;

    padding: 0;
    padding-top: 40px;
  }

  @include breakpoint(desktop) {
    width: $widthSize-desktop;
  }

  @include breakpoint(large_desktop) {
    width: $widthSize-largeDesktop;
  }

  /** Container **/

  &-projects {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 120px;

    @include breakpoint(desktop){
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &-projectsLeft {

    width: auto;
    height: auto;

    font-family: $titleFont;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;

    color: $blackColor;

    text-align: left;

    margin-bottom: 25px;

    @include breakpoint(desktop){
     width: 160px;
     text-align: right;
    }

    @include breakpoint(large_desktop) {
      width: 203px;
      font-size: 30px;
    }
  }

  &-projectsRight {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    @include breakpoint(laptop){
      flex-direction: row;
    }

    @include breakpoint(desktop){
      width: 662px;
      justify-content: flex-end;
     }

    @include breakpoint(large_desktop) {
      width: 993px;
    }
  }

  &-concepts {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 120px;

    @include breakpoint(desktop){
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-conceptsLeft {

    width: 100%;
    height: auto;

    font-family: $titleFont;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;

    color: $blackColor;

    text-align: left;

    margin-bottom: 25px;

    @include breakpoint(desktop){
      width: 160px;
      text-align: right;
     }

    @include breakpoint(large_desktop) {
      width: 203px;
      font-size: 30px;
    }
  }

  &-conceptsRight {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    @include breakpoint(laptop){
      flex-direction: row;
    }

    @include breakpoint(desktop){
      width: 662px;
     }

    @include breakpoint(large_desktop) {
      width: 993px;
    }

    >h3 {

      font-family: $textFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;

      color: $whiteColor;
      background-color: $blackColor;

      text-align: center;

      padding: 15px;
    }
  }

  /** Footer **/

  /***Footer***/

  /***Footer***/
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;

    margin-bottom: 90px;

    >h4 {
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 120%;
      display: flex;
      align-items: flex-end;
      text-align: center;

      /* Black */

      color: $blackColor;
    }

    @include breakpoint(tablet) {
      margin-bottom: $paddingSize;
    }
  }
}