@import './public/variables.scss';

.ProjectCard{
    width: $sizeProjectCard;
    height: $sizeProjectCard;

    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;

    cursor: pointer;

    &:hover{
        background-size: cover;
    }

    &-data{
        background-color: $blackColor;

        width: 90%;
        height: 100px;

        padding: 14px;

        color: $whiteColor;

        >h3{
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;

            margin-bottom: 5px;
        }

        >h1{
            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 120%;
        }

    }
}