@import './public/variables.scss';

.ProjectCard{
    width: $sizeProjectCard-720;
    height: $sizeProjectCard-720;

    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;

    cursor: pointer;

    position: relative;

    text-decoration: none;

    &:hover{
        background-size: cover;
    }

    &-title{
        width: 100%;
        height: 100%;

        padding: $card_paddingSize-720;

        color: $whiteColor;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        flex-shrink: 0;

        >h3{
            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 120%;
        }

    }

    &-data{

        color: $whiteColor;

        padding: $card_paddingSize-720;
        position: absolute;

        width: 100%;
        height: 100%;

        display: flex;
        flex-shrink: 0;

        flex-direction: column;

        justify-content: space-between;

        background-color: rgba($color: $blackColor, $alpha: 0.8);

        >h3{
            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 120%;
        }

        >p{
            font-family: $titleFont;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 120%;
        }

        >svg{
            width: 28px;

            >path{
                stroke: $whiteColor;
                stroke-width: 2;
                stroke-linecap: round;
            }
        }
    }
}