@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$blackColor: #232323;
$whiteColor: #FDFDFE;
$mainColor: #ED274A;
$grayColor: #C4C4C4;

$titleFont: 'Merriweather', serif;
$textFont: 'Heebo', sans-serif;

$widthSize-720: 780px;
$widthSize-1080: 780px;
$widthSize-1440: 780px;

$sizeProjectCard: 305px;