@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "./_mixings.scss";

$blackColor: #0A0D17;
$whiteColor: #FDFDFE;
$mainColor: #ED274A;
$grayColor: #F5F5F7;

$titleFont: 'Merriweather', serif;
$textFont: 'Heebo', sans-serif;

$widthSize-960w: 662px;
$widthSize-720: 880px;
$widthSize-1080: 1320px;

$sizeProjectCard-720: 331px;
$card_paddingSize-720: 25px;

$sizeProjectCard-1080: 331px;
$card_paddingSize-1080: 25px;

$paddingSize: 40px;
$paddingSize-mobile: 20px;
$card_paddingSize: 25px;