@import './public/variables.scss';

.About {
  width: 100%;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  padding: 0 $mobile_padding;

  @include breakpoint(tablet) {
    padding: 0 $tablet_padding;
    padding-top: 40px;
  }

  @include breakpoint(laptop) {
    width: $widthSize-laptop;

    padding: 0;
    padding-top: 40px;
  }

  @include breakpoint(desktop) {
    width: $widthSize-desktop;
  }

  @include breakpoint(large_desktop) {
    width: $widthSize-largeDesktop;
  }

  /*** Top ***/

  &-top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    margin-bottom: 95px;

    @include breakpoint(laptop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include breakpoint(large_desktop) {
      margin-bottom: 170px;
    }
  }

  &-topLeft {
    width: 100%;
    height: auto;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    flex-shrink: 0;

    @include breakpoint(tablet_ONLY){
      max-width: 400px;
    }

    @include breakpoint(laptop) {
      width: 60%;
    }

    @include breakpoint(desktop) {
      width: 360px;
    }

    @include breakpoint(large_desktop) {
      width: 497px;
    }
  }

  &-imgContainer {
    width: 100%;
    height: auto;

    position: relative;
  }

  &-img {
    width: 100%;
    height: auto;
  }

  &-name {
    width: 250px;
    height: auto;

    position: absolute;

    bottom: 20px;

    @include breakpoint(laptop_MAX){
      left: 20px;
    }

    @include breakpoint(laptop) {
      top: 35px;
      right: -160px;
    }

    @include breakpoint(large_desktop) {
      width: 293px;
      right: -188px;
    }

    >h4 {
      width: 100%;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;

      color: $blackColor;

      @include breakpoint(large_desktop) {
        font-size: 56px;
      }
    }

    >h6 {
      width: 100%;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 115%;

      color: $blackColor;

      @include breakpoint(large_desktop) {
        font-size: 42px;
      }
    }
  }

  &-title {

    margin-top: 15px;

    width: auto;
    height: auto;

    >h4 {
      width: auto;
      height: auto;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 120%;

      color: $blackColor;

      @include breakpoint(large_desktop) {
        font-size: 40px;
      }
    }

    >h6 {
      width: auto;
      height: auto;
      font-family: $titleFont;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 120%;

      color: $blackColor;

      text-transform: uppercase;

      @include breakpoint(large_desktop) {
        font-size: 30px;
      }
    }
  }

  &-topRight {
    width: 100%;
    height: auto;

    @include breakpoint(desktop) {
      width: 430px;
    }

    @include breakpoint(large_desktop) {
      width: 558px;
      margin-right: 100px;
    }

    >p {

      margin-top: 30px;

      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 140%;

      color: $blackColor;

      @include breakpoint(large_desktop) {
        font-size: 18px;
      }

      @include breakpoint(laptop) {
        margin-top: 60PX;
      }

      /*
      text-align: justify;
      text-justify: inter-character;
      */
    }
  }

  /*** Info ***/

  &-info {
    width: 100%;
    height: auto;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 100px;

    @include breakpoint(laptop) {
      margin-bottom: 175px;
    }
  }

  &-infoLeft {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    flex-shrink: 0;

    @include breakpoint(desktop) {
      width: 250px;
    }

    @include breakpoint(large_desktop) {
      width: 427px;
    }

    >h4 {
      font-family: $textFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;

      display: flex;
      align-items: center;

      color: $blackColor;

      margin-bottom: 20px;

      @include breakpoint(large_desktop) {
        font-size: 28px;
        margin-bottom: 25px;
      }
    }
  }

  &-contSkills {
    width: 100%;
    height: auto;

    margin-bottom: 45px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &-contTalents {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &-infoItem {
    width: auto;
    height: auto;

    transition: ease-in-out all .2s;

    font-family: $textFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;

    margin-bottom: 3px;

    color: $blackColor;

    cursor: pointer;

    @include breakpoint(large_desktop) {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  &-infoItemSelected {
    text-decoration: underline;
  }

  &-infoRight {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 35px;

    @include breakpoint(desktop) {
      width: 519px;
    }

    @include breakpoint(large_desktop) {
      width: 649px;
    }

  }

  &-infoImg {
    width: 100%;
  }

  &-infoDetail {
    width: 100%;
    height: auto;
    font-family: $textFont;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;

    text-align: center;

    color: $blackColor;

    padding: 15px 0;

    @include breakpoint(large_desktop) {
      font-size: 18px;
    }
  }

  &-contSofware {
    width: 100%;
    height: 45px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    >img {
      width: 40px;
      height: 40px;

      margin: 0 5px;
    }
  }

  /*** Research ***/

  &-research {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;

    margin-bottom: 130px;

    @include breakpoint(laptop) {

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: flex-start;
    }
  }

  &-researchTitle {
    width: auto;
    height: auto;

    font-family: $titleFont;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;

    text-align: left;

    color: $blackColor;
    margin-bottom: 20px;

    
    @include breakpoint(desktop) {
      text-align: right;
      width: 160px;
      margin-bottom: 0;
    }

    @include breakpoint(large_desktop) {
      width: 203px;
      font-size: 30px;
    }
  }

  &-data {
    width: 100%;
    height: auto;

    margin-bottom: 20px;

    >h6 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;

      color: $blackColor;

      margin-bottom: 10px;

      @include breakpoint(large_desktop) {
        font-size: 18px;
      }
    }

    >a {
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-decoration-line: underline;

      color: $blackColor;

      @include breakpoint(large_desktop) {
        font-size: 18px;
      }
    }

    >p {
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;

      color: $blackColor;

      @include breakpoint(large_desktop) {
        font-size: 18px;
      }
    }
  }

  &-researchList {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    @include breakpoint(laptop) {
      width: 400px;
    }

    @include breakpoint(desktop) {
      width: 321px;
      height: auto;
    }

    @include breakpoint(large_desktop) {
      width: 446px;
    }
  }

  &-researchImg {
    width: 100%;
    display: none;

    @include breakpoint(desktop){
      display: flex;
      width: 250px;
    }

    @include breakpoint(large_desktop) {
      width: 315px;
      height: 375px;
    }
  }

  /***Footer***/
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;

    margin-bottom: 90px;

    >h4 {
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 120%;
      display: flex;
      align-items: flex-end;
      text-align: center;

      /* Black */

      color: $blackColor;
    }

    @include breakpoint(tablet) {
      margin-bottom: $paddingSize;
    }
  }
}