@import './public/variables.scss';

.About {
  width: $widthSize-720;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding-bottom: 40px;

  @include breakpoint(large_desktop){
    width: $widthSize-1080;
  }

  @include breakpoint(laptop){
    width: $widthSize-960w;
  }

  /*** Top ***/

  &-top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    margin-top: $paddingSize;

    margin-bottom: 95px;

    @include breakpoint(large_desktop){
      margin-bottom: 170px;
    }
  }

  &-topLeft {
    width: 360px;
    height: 100%;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    flex-shrink: 0;

    @include breakpoint(large_desktop){
      width: 538px;
    }

    @include breakpoint(laptop){
      width: 274px;
    }
  }

  &-img {
    width: 100%;
    height: 515px;

    background-position: center;
    background-size: cover;

    position: relative;

    @include breakpoint(large_desktop){
      height: 769px;
    }
    @include breakpoint(laptop){
      height: 391px;
    }
  }

  &-name {
    width: 250px;
    height: auto;

    position: absolute;

    top: 35px;
    right: -160px;

    @include breakpoint(large_desktop){
      width: 293px;
      right: -188px;
    }

    @include breakpoint(laptop){
      right: -194px;
    }

    >h4 {
      width: 100%;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;

      color: $blackColor;

      @include breakpoint(large_desktop){
        font-size: 56px;
      }
    }

    >h6 {
      width: 100%;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 115%;

      color: $blackColor;

      @include breakpoint(large_desktop){
        font-size: 42px;
      }
    }
  }

  &-title {

    margin-top: 15px;

    width: auto;
    height: auto;

    >h4 {
      width: auto;
      height: auto;
      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 120%;

      color: $blackColor;

      @include breakpoint(large_desktop){
        font-size: 40px;
      }
    }

    >h6 {
      width: auto;
      height: auto;
      font-family: $titleFont;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 120%;

      color: $blackColor;

      text-transform: uppercase;

      @include breakpoint(large_desktop){
        font-size: 30px;
      }
    }
  }

  &-topRight {
    width: 430px;
    height: auto;
    
    @include breakpoint(large_desktop){
      width: 558px;
    }

    @include breakpoint(laptop){
      width: 341px;
    }

    >p {

      margin-top: 30px;

      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 140%;

      color: $blackColor;
      
      @include breakpoint(large_desktop){
        font-size: 18px;
      }

      @include breakpoint(laptop){
        margin-top: 60PX;
      }
      /*
      text-align: justify;
      text-justify: inter-character;
      */
    }
  }

  /*** Info ***/

  &-info {
    width: 100%;
    height: auto;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    margin-bottom: 175px;
  }

  &-infoLeft {
    width: 250px;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    flex-shrink: 0;

    @include breakpoint(large_desktop){
      width: 427px;
    } 
    
    @include breakpoint(laptop){
      width: 203px;
    }

    >h4 {
      font-family: $textFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;

      display: flex;
      align-items: center;

      color: $blackColor;

      margin-bottom: 20px;

      @include breakpoint(large_desktop){
        font-size: 28px;
        margin-bottom: 25px;
      }
    }
  }

  &-contSkills {
    width: 100%;
    height: auto;

    margin-bottom: 45px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &-contTalents {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &-infoItem {
    width: auto;
    height: auto;

    transition: ease-in-out all .2s;

    font-family: $textFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;

    margin-bottom: 3px;

    color: $blackColor;

    cursor: pointer;

    @include breakpoint(large_desktop){
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  &-infoItemSelected {
    text-decoration: underline;
  }

  &-infoRight {
    width: 519px;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    @include breakpoint(large_desktop){
      width: 649px;
    }

    @include breakpoint(laptop){
      width: 405px;
    }
  
  }

  &-infoImg {
    width: 100%;
    height: 291px;

    @include breakpoint(large_desktop){
      height: 364px;
    }

    @include breakpoint(laptop){
      height: 227px;
    }
  }

  &-infoDetail {
    width: 100%;
    height: auto;
    font-family: $textFont;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.02em;

    text-align: center;

    color: $blackColor;

    padding: 15px 0;

    @include breakpoint(large_desktop){
      font-size: 18px;
    }
  }

  &-contSofware{
    width: 100%;
    height: 45px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    >img{
      width: 40px;
      height: 40px;

      margin: 0 5px;
    }
  }

  /*** Research ***/

  &-research {
    width: 100%;
    height: auto;

    margin-bottom: 130px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;

    @include breakpoint(laptop){
      height: 298px;

      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
      align-items: flex-start;
    }
  }

  &-researchTitle {
    width: 160px;
    height: auto;

    font-family: $titleFont;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;

    text-align: right;

    color: $blackColor;

    @include breakpoint(large_desktop){
      width: 203px;
      font-size: 30px;
    }

    @include breakpoint(laptop){
      text-align: left;
      width: auto;

      margin-bottom: 20px;
    }
  }

  &-data {
    width: 100%;
    height: auto;

    margin-bottom: 20px;

    >h6 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;

      color: $blackColor;

      margin-bottom: 10px;

      @include breakpoint(large_desktop){
        font-size: 18px;
      }
    }

    >a {
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-decoration-line: underline;

      color: $blackColor;

      @include breakpoint(large_desktop){
        font-size: 18px;
      }
    }

    >p{
      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;

      color: $blackColor;

      @include breakpoint(large_desktop){
        font-size: 18px;
      }
    }
  }

  &-researchList {
    width: 344px;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

      @include breakpoint(large_desktop){
       width: 446px;
      }

      @include breakpoint(laptop){
        width: 321px;
        height: auto;
      }
  }

  &-researchImg {
    width: 250px;
    height: 298px;

    background-size: cover;
    background-position: center;
    
    @include breakpoint(large_desktop){
      width: 315px;
      height: 375px;
     }
  }
  
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;

    >h4 {
        font-family: $textFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        text-align: center;

        /* Black */

        color: $blackColor;

        @include breakpoint(large_desktop){
            font-size: 14px;
        }
    }
}
}