@import './public/variables.scss';


.Logo {
  display: none;

  width: 22px;
  height: 35px;

  position: fixed;
  top: $paddingSize;
  left: $paddingSize;

  @include breakpoint(tablet) {
    display: flex;
  }

  @include breakpoint(large_desktop) {
    width: 28px;
    height: 50px;
  }

  >svg {
    width: 100%;
    height: 100%;

    >path {
      fill: $blackColor;
      transition: ease-in-out all .2s;
    }

    &:hover {
      >path {
        fill: $mainColor;
      }
    }

  }
}

.Menu {
  display: none;

  position: fixed;
  top: $paddingSize;
  right: $paddingSize;

  @include breakpoint(tablet) {
    display: flex;
  }

  &-icon {
    width: 20px;
    height: 18px;


    @include breakpoint(large_desktop) {
      width: 27px;
      height: 23px;
    }

    >path {
      fill: $blackColor;
    }
  }

  &-container {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    flex-shrink: 0;
  }

  &-item {
    font-family: $textFont;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    text-align: right;
    color: $blackColor;

    margin-bottom: 10px;

    @include breakpoint(large_desktop) {
      font-size: 18px;
      line-height: 120%;
    }

    transition: ease-in-out all .2s;

    &:hover {
      color: $mainColor;

      &::after {
        background-color: $mainColor;
      }
    }
  }

  &-itemSelected {
    position: relative;

    &::after {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: $blackColor;
      display: flex;
      flex-shrink: 0;

      position: absolute;
      right: -10px;
      bottom: 4.5px;

      @include breakpoint(large_desktop) {
        bottom: 8.5px;
      }
    }
  }
}

.MenuSocialMedia {
  width: auto;
  height: auto;

  position: fixed;
  bottom: $paddingSize;
  left: $paddingSize;

  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  @include breakpoint(tablet) {
    display: flex;
  }

  >a {
    width: 20px;
    height: 20px;

    margin-top: 20px;

    @include breakpoint(large_desktop) {
      width: 24px;
      height: 24px;
      margin-top: 24px;
    }

    >svg {
      width: 100%;
      height: 100%;

      >path {

        fill: $blackColor;

        transition: ease-in-out all .2s;
      }

      &:hover {
        >path {
          fill: $mainColor;
        }
      }
    }
  }
}

.Message {
  background-color: $blackColor;

  width: 45px;
  height: 45px;

  position: fixed;

  bottom: $paddingSize;
  right: $paddingSize;

  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;

  cursor: pointer;

  @include breakpoint(tablet) {
    display: flex;
  }

  @include breakpoint(large_desktop) {
    width: 55px;
    height: 55px;
  }

  &:hover {
    background-color: $mainColor;
  }

  >svg {
    width: 50%;
    height: 50%;

    transition: ease-in-out all .2s;

    >path {
      fill: $whiteColor;
    }
  }

  &:hover {

    >svg {
      width: 55%;
      height: 55%;
    }
  }
}

.ScrollAnimation {
  width: 45px;
  height: 45px;

  position: fixed;

  bottom: $paddingSize;
  right: 100px;

  display: none;

  @include breakpoint(tablet) {
    display: flex;
  }

  @include breakpoint(large_desktop) {
    width: 55px;
    height: 55px;

    right: 110px;
  }
}

//only mobile

.MobileMenu {
  position: fixed;

  width: 100%;
  height: auto;

  bottom: 0;

  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include breakpoint(tablet) {
    display: none;
  }

  &-bar{
    width: 100%;
    height: $mobile_menu_height;
    padding: 20px $mobile_padding;

    background-color: $grayColor;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    align-items: center;
    align-content: center;

    z-index: 1;

    >h1{
      font-family: $textFont;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
  
      color: $blackColor;

      cursor: pointer;
    }
  }

  &-logo {
    display: flex;

    width: 16px;
    height: 30px;

    cursor: pointer;

    >svg {
      width: 100%;
      height: 100%;

      >path {
        fill: $blackColor;
        transition: ease-in-out all .2s;
      }

      &:hover {
        >path {
          fill: $mainColor;
        }
      }

    }
  }

  &-icon{
    width: 25px;

    cursor: pointer;

    >svg{
      width: 100%;

      >path{
        fill: $blackColor;
      }
    }
  }

  //MENU

  &-menu{
    width: 100%;
    height: 365px;

    background-color: $grayColor;

    display: flex;
    flex-direction: column;

    padding: 25px;

    cursor: pointer;
  }

  &-SocialMedia{
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    align-content: center;

    >a{
      width: 25px;
      height: 25px;

      cursor: pointer;

      >svg{

        >path{
          fill: $blackColor;
        }
      }
    }
  }

  &-MenuItems{
    width: 100%;
    height: 253px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  &-item{
    font-family: $titleFont;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;

    cursor: pointer;

    color: $blackColor;
  }

  &-itemSelected{
    text-decoration: underline;
  }
}