@import './public/variables.scss';

.Home {
  width: $widthSize-720;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding-bottom: 40px;

  @include breakpoint(large_desktop){
    width: $widthSize-1080;
  }

  @include breakpoint(laptop){
    width: $widthSize-960w;
    min-width: $widthSize-960w;
  }

  @include breakpoint(mobile){
    width: 100%;
    padding: 20px 0;
  }

  /***Top***/

  &-top {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    margin-bottom: 150px;

    flex-shrink: 0;
    
    @include breakpoint(large_desktop){
      margin-bottom: 320px;
    }
  }

  &-img {
    position: relative;
    width: 378px;
    height: 515px;
    display: flex;
    flex-shrink: 0;

    //background-image: url('/img/imgPortada.jpg');
    background-size: cover;
    background-position: center;

    margin-bottom: 33px;

    @include breakpoint(large_desktop){
      width: 466px;
      height: 634px;

      margin-bottom: 45px;
    }

    >svg {
      width: 14px;
      height: 236px;
      position: absolute;
      bottom: 0;
      left: -20px;

      >path {
        fill: $blackColor;

      }

      >line {
        stroke: $blackColor;
        stroke-width: 2;
      }
    }
  }

  &-topInfo {
    width: 355px;
    height: auto;

    @include breakpoint(large_desktop){
      width: 426px;
    }

    >h3 {
      width: 100%;
      text-align: center;

      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 120%;

      color: $blackColor;

      margin-bottom: 20px;

      @include breakpoint(large_desktop){
        font-size: 42px;
      }
    }

    >h4 {
      width: 100%;

      font-family: $textFont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 120%;
      text-align: center;

      color: $blackColor;

      @include breakpoint(large_desktop){
        font-size: 26px;
      }
    }
  }

  &-strongColor {
    color: $mainColor;
  }

  /***WhatIDo***/

  &-whatIDo {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    flex-shrink: 0;

    margin-bottom: 150px;

    
    @include breakpoint(large_desktop){
      margin-bottom: 210px;
    }

    @include breakpoint(laptop){
      flex-direction: column;
      justify-content: flex-start;
    }

  }

  &-whatLeft {
    width: 160px;
    height: auto;

    @include breakpoint(large_desktop){
      width: 203px;
    }

    @include breakpoint(laptop){
      width: auto;
    }

    >h3 {
      width: 100%;
      height: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;

      color: $blackColor;

      text-align: right;

      @include breakpoint(large_desktop){
        font-size: 36px;
      }

      @include breakpoint(laptop){
        margin-bottom: 20px;
      }
    }
  }

  &-whatRight {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  &-profile{
    width: 240px;
    height: auto;

    margin-right: 30px;

    @include breakpoint(large_desktop){
      width: 315px;
    }
  }

  &-other{
    width: 240px;
    height: auto;

    margin-right: 100px;

    @include breakpoint(large_desktop){
      width: 315px;
    }
  }

  &-whatTitle{
    color: $blackColor;

    font-family: $titleFont;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;

    margin-bottom: 16px;

    @include breakpoint(large_desktop){
      margin-bottom: 20px;
      font-size: 26px;
    }
  }

  &-whatText{
    color: $blackColor;

    font-family: $textFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;

    margin-bottom: 3px;

    
    @include breakpoint(large_desktop){
      margin-bottom: 5px;
      font-size: 22px;
    }
  }

  /***Recent***/

  &-recentWork {
    width: 100%;
    height: auto;

    margin-bottom: 130px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;

    @include breakpoint(large_desktop){
      margin-bottom: 210px;
    }
    
    @include breakpoint(laptop){
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
    }
  }

  &-leftRecent {
    width: 160px;
    height: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;

      color: $blackColor;

      text-align: right;

      
    @include breakpoint(laptop){
      width: auto;
      text-align: left;
      margin-bottom: 20px;
    }

  }

  &-rightRecent {
    width: 662px;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;

    @include breakpoint(large_desktop){
      width: 993px;
    }

    @include breakpoint(laptop){
      width: 100%;
    }
  }

  &-containerRecent {
    width: 100%;
    height: auto;

    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;

    margin-bottom: 24px;
  }

  /***Contact***/

  &-contact {
    width: 100%;
    height: 448px;

    margin-bottom: 145px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    
    @include breakpoint(large_desktop){
      margin-bottom: 210px;
      height: 608px;
    }

    @include breakpoint(laptop){
      height: 363px;
    }
  }

  &-leftContact {
    width: 516px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    
    @include breakpoint(large_desktop){
      width: 650px;
    }

    @include breakpoint(laptop){
      width: 396px;
    }

    >h5 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: right;

      margin-bottom: 5px;

      /* Black */

      color: $blackColor;

      margin-right: 36px;

      @include breakpoint(large_desktop){
        font-size: 22px;
      }

      @include breakpoint(laptop){
        width: auto;
        height: auto;
        font-size: 20px;
        margin-right: 15px;
       }

      >strong {
        color: $mainColor;

        margin-left: 6px;
        margin-right: 6px;
      }
    }

    >h3 {
      font-family: $textFont;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 120%;
      display: flex;
      align-items: flex-end;
      text-align: right;

      margin-right: 36px;

      /* Black */

      color: $blackColor;

      @include breakpoint(large_desktop){
      font-size: 34px;
      }

      @include breakpoint(laptop){
       width: auto;
       height: auto;
       font-size: 27px;
       margin-right: 15px;
      }
      
    }
  }

  &-contactImg {
    width: 100%;
    height: 313px;

    margin-bottom: 66px;
    //background-image: url('/img/ContactImg.png');
    background-size: cover;
    background-position: center;

    flex-shrink: 0;

    @include breakpoint(large_desktop){
      height: 394px;
      margin-bottom: 130px;
    }

    @include breakpoint(laptop){
      height: 240px;
      margin-bottom: 50px;
    }

  }

  &-rightContact {
    width: 315px;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;

    @include breakpoint(laptop){
      width: 268px;
    }
  }

  &-containerContact {
    width: 100%;
    height: 283px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-content: flex-start;

    text-align: left;

    flex-shrink: 0;

    background-color: $blackColor;

    padding: 36px;

    >h3 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      display: flex;
      align-items: flex-end;

      /* White */

      color: $whiteColor;
    }

    >h5 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      display: flex;
      align-items: flex-end;

      /* White */

      color: $whiteColor;

      margin-bottom: 36px;
    }
  }

  &-cv {
    width: 100%;
    height: 48px;

    background-color: $whiteColor;

    font-family: $textFont;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Black */

    color: $blackColor;

    border: none;

    display: flex;
    justify-content: center;
    flex-shrink: 0;

    transition: ease-in-out all .2s;

    &:hover{
      background-color: $mainColor;

      color: $whiteColor;
    }
  }

  /***Footer***/
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;

    >h4 {
        font-family: $textFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        text-align: center;

        /* Black */

        color: $blackColor;

        @include breakpoint(large_desktop){
            font-size: 14px;
        }
    }
}

}