@import './public/variables.scss';

.Contact{
  width: $widthSize-720;
  height: 100vh;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpoint(large_desktop){
    width: $widthSize-1080;
  }
  
  @include breakpoint(laptop){
    width: $widthSize-960w;
  }

   /***Contact***/

   &-contact {
    width: 100%;
    height: 448px;

    margin-bottom: 145px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    
    @include breakpoint(large_desktop){
      margin-bottom: 210px;
      height: 608px;
    }

    @include breakpoint(laptop){
      height: 363px;
    }
  }

  &-leftContact {
    width: 516px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    
    @include breakpoint(large_desktop){
      width: 650px;
    }

    @include breakpoint(laptop){
      width: 396px;
    }

    >h5 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: right;

      margin-bottom: 5px;

      /* Black */

      color: $blackColor;

      margin-right: 36px;

      @include breakpoint(large_desktop){
        font-size: 22px;
      }

      @include breakpoint(laptop){
        width: auto;
        height: auto;
        font-size: 20px;
        margin-right: 15px;
       }

      >strong {
        color: $mainColor;

        margin-left: 6px;
        margin-right: 6px;
      }
    }

    >h3 {
      font-family: $textFont;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 120%;
      display: flex;
      align-items: flex-end;
      text-align: right;

      margin-right: 36px;

      /* Black */

      color: $blackColor;

      @include breakpoint(large_desktop){
      font-size: 34px;
      }

      @include breakpoint(laptop){
       width: auto;
       height: auto;
       font-size: 27px;
       margin-right: 15px;
      }
      
    }
  }

  &-contactImg {
    width: 100%;
    height: 313px;

    margin-bottom: 66px;
    //background-image: url('/img/ContactImg.png');
    background-size: cover;
    background-position: center;

    flex-shrink: 0;

    @include breakpoint(large_desktop){
      height: 394px;
      margin-bottom: 130px;
    }

    @include breakpoint(laptop){
      height: 240px;
      margin-bottom: 50px;
    }

  }

  &-rightContact {
    width: 315px;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;

    @include breakpoint(laptop){
      width: 268px;
    }
  }

  &-containerContact {
    width: 100%;
    height: 283px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-content: flex-start;

    text-align: left;

    flex-shrink: 0;

    background-color: $blackColor;

    padding: 36px;

    >h3 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      display: flex;
      align-items: flex-end;

      /* White */

      color: $whiteColor;
    }

    >h5 {
      font-family: $titleFont;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      display: flex;
      align-items: flex-end;

      /* White */

      color: $whiteColor;

      margin-bottom: 36px;
    }
  }

  &-cv {
    width: 100%;
    height: 48px;

    background-color: $whiteColor;

    font-family: $textFont;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Black */

    color: $blackColor;

    border: none;

    display: flex;
    justify-content: center;
    flex-shrink: 0;

    transition: ease-in-out all .2s;

    &:hover{
      background-color: $mainColor;

      color: $whiteColor;
    }
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;

    >h4 {
        font-family: $textFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        text-align: center;

        /* Black */

        color: $blackColor;

        @include breakpoint(large_desktop){
            font-size: 14px;
        }
    }
}
}