@import './public/variables.scss';

.ProjectView {
    width: $widthSize-720;
    height: auto;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint(large_desktop){
        width: $widthSize-1080;
    }

    @include breakpoint(laptop){
        width: $widthSize-960w;
    }

    &-top{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 45px;
    }

    &-header {
        width: 520px;
        height: auto;

        text-align: left;

        font-family: $titleFont;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 120%;

        color: $blackColor;

        @include breakpoint(large_desktop){
            width: 762px;
            font-size: 36px;
        }
    }

    &-year{
        width: auto;
        height: auto;

        font-family: $titleFont;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 120%;

        text-align: right;

        color: $blackColor;

        @include breakpoint(large_desktop){
            font-size: 28px;
        }
    }

    &-coverContainer{
        margin-top: 54px;
        width: 100%;

        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        
        
        @include breakpoint(large_desktop){
            margin-top: 70px;
        }
    }

    &-eLogo{
        width: 662px;
        height: 84px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;
        align-items: center;

        
        @include breakpoint(large_desktop){
            width: 989px;
        }

        @include breakpoint(laptop){
            width: 100%;
        }

        >a{
            text-decoration: none;

            >img{
                width: 70px;
                height: 44px;
            }
        }

        >h3{
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;

            color: $blackColor;

            margin-right: 15px;
        }
    }

    &-cover{
        width: 662px;
        height: 372px;

        background-size: cover;
        background-position: center;

        
        @include breakpoint(large_desktop){
            width: 989px;
            height: 554px;
        }

        @include breakpoint(laptop){
            width: 100%;
            height: 372px;
        }
    }

    &-about {
        margin-top: 130px;

        width: 100%;
        height: auto;
        display: flex;

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        @include breakpoint(laptop){
            margin-top: 110px;
        }

        >h3 {
            font-family: $titleFont;
            font-style: normal;
            font-weight: 800;
            font-size: 28px;
            line-height: 120%;

            color: $blackColor;

            margin-bottom: 15px;

            @include breakpoint(large_desktop){
                font-size: 28px;
                margin-bottom: 25px;
            }
        }

        >p {
            width: 540px;

            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 140%;

            color: $blackColor;

            @include breakpoint(large_desktop){
                width: 762px;
                font-size: 18px;
            }

            @include breakpoint(laptop){
                width: 100%;
            }
            
        }
    }

    &-wireframes {
        width: 100%;
        height: auto;

        margin-top: 110px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        
        @include breakpoint(laptop){
            flex-direction: column;
            justify-content: flex-start;

            margin-top: 70px;
        }
    }

    &-wireSmall{
        width: 340px;
        height: 435px;

        background-size: cover;
        background-position: center;

        @include breakpoint(large_desktop){
            width: 510px;
            height: 652px;
        }

        @include breakpoint(laptop){
            margin-bottom: 25px;

            width: 450px;
            height: 575px;
        }
    }

    &-wireBig{
        width: 100%;
        height: 293px;

        background-size: cover;
        background-position: center;

        @include breakpoint(large_desktop){
            height: 439px;
        }

        @include breakpoint(laptop){
            height: 373px;
        }
    }

    &-wireLeft{
        width: 520px;
        height: 435px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        @include breakpoint(large_desktop){
            width: 780px;
            height: 652px;
        }

        @include breakpoint(laptop){
            width: 100%;
            height: auto;
        }
    }

    &-role {
        width: 100%;
        height: calc(100% - 293px);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        @include breakpoint(large_desktop){
            height: calc(100% - 439px);
        }

        @include breakpoint(laptop){
            height: 122px;
        }
        

        >h3 {
            width: 120px;

            text-align: right;

            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 120%;

            color: $blackColor;

            margin-right: 20px;

            @include breakpoint(large_desktop){
                width: 222px;
                font-size: 35px;
            }

            @include breakpoint(laptop){
                width: 151px;
            }
        }

        >p {    

            width: 372px;

            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;

            color: $blackColor;
            
            @include breakpoint(large_desktop){
                width: 538px;
                font-size: 18px;
            }

            @include breakpoint(laptop){
                width: 491px;
            }
        }
    }

    &-topicContainer{
        width: 100%;
        height: auto;

        margin-top: 45px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;

        @include breakpoint(large_desktop){
            margin-top: 65px;
        }
    }

    &-topic {
        width: 100%;
        height: auto;

        margin-top: 35px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: flex-start;

        @include breakpoint(large_desktop){
        margin-top: 45px;
        }

        @include breakpoint(laptop){
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
        }

        >h3 {
            width: 250px;
            height: auto;

            text-align: right;

            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 120%;

            color: $blackColor;

            margin-right: 20px;
            
            @include breakpoint(large_desktop){
                width: 510px;
                font-size: 35px;
            }

            @include breakpoint(laptop){
                width: auto;
                margin-bottom: 20px;
            }
        }

        >p {    
            width: 520px;
            height: auto;

            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;

            color: $blackColor;

            @include breakpoint(large_desktop){
                width: 782px;
                font-size: 18px;
            }

            
            @include breakpoint(laptop){
                width: 100%;
            }
        }
    }

    &-slides{
        width: 100%;
        height: 494px;

        display: flex;
        flex-shrink: 0;

        margin-top: 90px;

        @include breakpoint(large_desktop){
            height: 741px;
            margin-top: 110px;
        }

        @include breakpoint(laptop){
            height: 372px;
        }
    }

    &-slide{
        width: 100%;
        height: 100%;
    }

    &-options {
        width: 100%;
        height: auto;

        margin-top: 90px;
        margin-bottom: 70px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;

        @include breakpoint(large_desktop){
            margin-top: 110px;
            margin-bottom: 110px;
        }
    }

    &-moreTitle {
        font-family: $titleFont;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;

        @include breakpoint(large_desktop){
            font-size: 28px;
        }
    }

    &-moreContainer{
        width: 50%;
        height: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    &-contButtons {
        height: 45px;

        width: auto;

        margin-top: 25px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-end;

        @include breakpoint(large_desktop){
            margin-top: 35px;
        }
    }

    &-git {
        width: 45px;
        height: 45px;

        background-color: $blackColor;

        padding: 7.5px;

        >svg {
            fill: $whiteColor;
            width: 100%;
            height: 100%;
        }

        transition: .2s ease-in-out all;

        &:hover {
            background-color: $mainColor;
        }

        margin-right: 15px;
    }

    &-behance {
        width: 45px;
        height: 45px;

        background-color: $blackColor;

        padding: 7.5px;

        >svg {
            fill: $whiteColor;
            width: 100%;
            height: 100%;
        }

        transition: .2s ease-in-out all;

        &:hover {
            background-color: $mainColor;
        }

        margin-right: 15px;
    }

    &-test {
        width: 90px;
        height: 45px;

        background-color: $blackColor;

        text-decoration: none;
        font-family: $textFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;

        color: $whiteColor;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        transition: .2s ease-in-out all;

        &:hover {
            background-color: $mainColor;
        }
    }

    &-teammates {
        width: 50%;
        height: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-end;

        >h3 {
            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 120%;

            text-align: right;

            color: $blackColor;

            @include breakpoint(large_desktop){
                font-size: 28px;
            }
        }
    }

    &-contTeammates {
        height: auto;
        width: 100%;

        margin-top: 25px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-end;

        @include breakpoint(large_desktop){
            margin-top: 35px;
        }

        >a {
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            /* or 17px */
            
            text-align: right;
            text-decoration-line: underline;

            color: $blackColor;

            margin-bottom: 10px;
            
            @include breakpoint(large_desktop){
                margin-bottom: 15px;
                font-size: 16px;
            }
        }
    }

    /***Footer***/

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        height: auto;

        >h4 {
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 120%;
            display: flex;
            align-items: flex-end;
            text-align: center;

            /* Black */

            color: $blackColor;

            @include breakpoint(large_desktop){
                font-size: 14px;
            }
        }
    }
}