@import './public/variables.scss';

.ProjectView {
    width: $widthSize-720;
    height: auto;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    padding-top: 40px;
    padding-bottom: 40px;

    &-header {
        width: 445px;
        height: auto;

        font-family: $titleFont;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 120%;

        color: $blackColor;

        margin-top: 45px;
    }

    &-coverContainer{
        margin-top: 54px;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
    }

    &-cover{
        width: 637px;
        height: 376px;

        background-size: cover;
        background-position: center;
    }

    &-about {
        margin-top: 90px;

        width: 100%;
        height: auto;
        display: flex;

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        >h3 {
            font-family: $titleFont;
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 42px;

            color: $blackColor;

            margin-bottom: 15px;
        }

        >p {
            width: 452px;

            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;

            color: $blackColor;
        }
    }

    &-wireframes {
        width: 100%;
        height: auto;

        margin-top: 90px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
    }

    &-wireSmall{
        width: 265px;
        height: 284px;

        background-size: cover;
        background-position: center;
    }

    &-wireBig{
        width: 505px;
        height: 284px;

        background-size: cover;
        background-position: center;
    }

    &-role {
        width: 100%;
        height: auto;

        margin-top: 90px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;

        >h3 {
            width: 248px;

            text-align: right;

            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 120%;

            color: $blackColor;
        }

        >p {    

            width: 505px;

            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;

            color: $blackColor;
        }
    }

    &-topicContainer{
        width: 100%;
        height: auto;

        margin-top: 45px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
    }

    &-topic {
        width: 100%;
        height: auto;

        margin-top: 35px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;

        >h3 {
            width: 248px;

            text-align: right;

            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 120%;

            color: $blackColor;
        }

        >p {    

            width: 505px;

            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;

            color: $blackColor;
        }
    }

    &-slides{
        width: 100%;
        height: 439px;

        display: flex;
        flex-shrink: 0;

        margin-top: 90px;
    }

    &-slide{
        width: 100%;
        height: 100%;
    }

    &-options {
        width: 100%;
        height: auto;

        margin-top: 90px;
        margin-bottom: 70px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
    }

    &-moreTitle {
        font-family: $titleFont;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;
    }

    &-moreContainer{
        width: 50%;
        height: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    &-contButtons {
        height: 45px;

        width: auto;

        margin-top: 25px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: flex-end;
    }

    &-git {
        width: 45px;
        height: 45px;

        background-color: $blackColor;

        padding: 7.5px;

        >svg {
            fill: $whiteColor;
            width: 100%;
            height: 100%;
        }

        transition: .2s ease-in-out all;

        &:hover {
            background-color: $mainColor;
        }

        margin-right: 15px;
    }

    &-behance {
        width: 45px;
        height: 45px;

        background-color: $blackColor;

        padding: 7.5px;

        >svg {
            fill: $whiteColor;
            width: 100%;
            height: 100%;
        }

        transition: .2s ease-in-out all;

        &:hover {
            background-color: $mainColor;
        }

        margin-right: 15px;
    }

    &-test {
        width: 130px;
        height: 45px;

        background-color: $blackColor;

        text-decoration: none;
        font-family: $textFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;

        color: $whiteColor;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        transition: .2s ease-in-out all;

        &:hover {
            background-color: $mainColor;
        }
    }

    &-teammates {
        width: 50%;
        height: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-end;

        >h3 {
            font-family: $titleFont;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 120%;

            text-align: right;

            color: $blackColor;
        }
    }

    &-contTeammates {
        height: auto;
        width: 100%;

        margin-top: 25px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-end;

        >a {
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            /* or 17px */
            
            text-align: right;
            text-decoration-line: underline;

            color: $blackColor;

            margin-bottom: 10px;
        }
    }

    /***Footer***/

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        height: auto;

        >h4 {
            font-family: $textFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            text-align: center;

            /* Black */

            color: $blackColor;
        }
    }
}